.wholecard {
  background-color: lightpink;
  width: 350px;
  display: wrap;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 3px 2px 8px 1px;
}

li span {
  font-weight: bold;
  display: flex;
}

.fact {
  font-style: italic;
  padding: 10px;
  display: flex;
  margin: 10px;
}

ul li {
  padding: 6px;
  display: flex;
  margin: 0.2em;
  background-color: lightblue;
  list-style-type: none;
  border-radius: 5px;
  flex-wrap: nowrap;
}

.border {
  flex-wrap: wrap;
  border-style: solid;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: inset 0 0 10px 3px;
}

img {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  margin: 10px;
  width: 300px;
  height: auto;
  box-shadow: inset 0 0 10px 3px;
}

.information {
  padding: 10px;
  flex-wrap: wrap;
  display: flex;
  margin: 10px;
}

h3 {
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
