li span {
  font-weight: bold;
  display: flex;
}

.fact {
  font-style: italic;
  padding: 10px;
  text-align: left;
  display: flex;
  margin: 10px;
}

ul li {
  padding: 10px;
  display: flex;
  margin: 2px;
  background-color: lightblue;
  list-style-type: none;
  border-radius: 5px;
  text-align: left;
}

.border {
  flex-wrap: wrap;
  border-style: solid;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

img {
  padding: 1px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  margin: 10px;
}

.information {
  padding: 10px;
  text-align: left;
  flex-wrap: wrap;
  display: flex;
  margin: 10px;
}

body {
  background-color: lightpink;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

h3 {
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
